* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #393e46;
  background-color: #393e46;
  padding: 30px;
  border-radius: 5px;
}

.tasks-title {
  color: #00adb5;
  background-color: transparent;
  margin-bottom: 10px;
}

.tasks__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #eee;
}

.tasks {
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 50px;
  padding-left: 0;
}

.task__list-task {
  display: flex;
  background-color: transparent;
  align-items: center;
}

.task__list-task span {
  background-color: transparent;
  color: #eeeeee;
}

.task__list-task input {
  margin-right: 15px;
  align-self: center;
  width: 16px;
  height: 16px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #ddd;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.task__list-task input:checked {
  background-color: #00adb5;
  border: 1px solid #00adb5;
}

.no-tasks {
  background-color: transparent;
  color: #eee;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.task_list-btn {
  background-color: transparent;
}

.btn {
  margin: 0 10px;
  color: #eee;
}

svg {
  background-color: transparent;
}

.btn-task {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn .edit {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title-form {
  color: #00adb5;
  background-color: #393e46;
}

.task__form {
  padding-top: 40px;
  background-color: #393e46;
}

.task__form input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #222831;
  color: #eeeeee;
  border: none;
  margin-bottom: 30px;
  font-size: 16px;
}

.tasks-btn,
.task__form button {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #00adb5;
  color: #eeeeee;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #eee;
}

.tasks-btn:hover,
.tasks-btn:active,
.task__form button:hover,
.task__form button:active {
  background-color: transparent;
  border: 1px solid #00adb5;
}
